<!doctype html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<head>
    <title>Speaker Pad<%= title ? " - " + title : '' %></title>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/sortable-theme-bootstrap.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/star-rating.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/validator/4.0.5/validator.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/typeahead.min.js"></script>
    <script src="/js/sortable.js"></script>
    <script src="/js/clipboard.min.js"></script>
    <script src="/js/star-rating.min.js"></script>
    <style>
        body         { padding-top:80px; }
    </style>
    <script>
        $(function () {
          $('[data-toggle="popover"]').popover();
        });

        $(function () {
          $('[data-toggle="tooltip"]').tooltip()
        });
    </script>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/"><img src="/img/SpeakerPad-logo-sm.png"></a>
    </div>
    <% if (locals.userid) { %>
    <ul class="nav navbar-nav">
      <li><a href="/dashboard">Dashboard</a></li> 
      <li><a href="/talks">Talks</a></li> 
      <li><a href="/talks/submissions">Submissions</a></li> 
      <li><a href="/conferences">Conferences</a></li> 
      <li><a href="/profile">Profile</a></li> 
    </ul>
    <% } %>
    
    <ul class="nav navbar-nav navbar-right">
        <% if (locals.userid) { %>
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span></a></li> 
        <% } else { %>
            <li><a href="/login">Login</a></li> 
            <li><a href="/register">Register</a></li> 
        <% } %>
    </ul>

  </div>
</nav>
<div class="container">
 <div class="row">
