<% include public-header %>
    <div class="jumbotron">
      <div class="container">
        <img src="/img/SpeakerPad-logo-icon.png" class="center-block">
        <h1 class="text-center">Welcome to SpeakerPad</h1>
        <p class="text-center">The one stop shop for managing your conference participation.</p>
        <p class="text-center"><a class="btn btn-primary btn-lg" href="/talks" role="button">Manage Talks</a></p>
      </div>
    </div>
<% include footer %>
